<html>
    <head>
        <title>Example</title>
    </head>
    <body>

    <ul>
    <% for(var i=0; i<things.length; i++) { %>
        <li><%= things[i].name %>:  <%= things[i].price %></li>
    <% } %>
    </ul>

    </body>
</html>